<!doctype html>
<html class="no-js" lang="en">
    <head>    
        <%= common_head  %>
    </head>     
    <body>
        <div class="header" >
            <%= nav_bar %>
        </div>

        <div class="download">
            <div class="wrap">
            <div class="content">
                <div>Download</div>
                <div class="line">
                    <div class="icon"> <img src="img/weex_android_icon.png" alt="weex_android"/> </div>
                    
                    <div class="intro">
                        <div>Weex Playground</div>
                        <div>Weex Native Runtime showcase & Weex we file preview with hot reload supported </div>
                        <div class="qr">
                            <img src="img/android_playground_qr.png" alt="playground qr" />
                        </div>
                        <div class="link">
                            <a href="http://g.tbcdn.cn/ali-wireless-h5/res/0.0.17/playground.apk"><img src="img/android_download.png" alt="playground apk link" /></a>                            
                        </div>

                        <div class="apple">
                            iOS version of Weex Playground App will be coming soon...
                        </div>
                    </div>
                    
                    <div class="screen-shot">
                        <img src="img/playground_screenshot.png" alt="playground screenshot" />
                    </div>
                    
                    <div class="clear"></div>
                </div>
            </div>
            </div>
        </div>

        <%= footer  %>        
    </body>
    <%= footer_resource %>
</html>
